.menu {
  background-color: #17103f;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 1rem 1.5rem 1rem;
  position: sticky;
  z-index: 1000;
  transition: .2s;
  .item{
    display: flex;
    align-items: center;
    gap: 1rem;
    h4{
      color: #f1f1f1;
    }
    img{
      cursor: pointer;
    }
  }
}
.close {
  background-color: #17103f;
  width: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem 1.5rem 1rem;
  position: sticky;
  z-index: 1000;
  transition: .2s;
  .item{
    h4{
      display: none;
    }
    img{
      cursor: pointer;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  .inputs {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    input {
      background: none;
      border: #22185e solid 2px;
      border-radius: 1rem;
      width: 30vw;
      height: 2.5rem;
      padding: 0.5rem;
    }
  }
  .button {
    width: 35%;
  }
}
@media(width <= 560px){
  .menu{
    width: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .group{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}