.menu {
  background-color: #17103f;
  width: 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 1rem 0;
  padding-top: 7.5vh;
  position: absolute;
  z-index: 1000;
}
.menuIco{
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  .inputs {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    input {
      background: none;
      border: #22185e solid 2px;
      border-radius: 1rem;
      width: 30vw;
      height: 2.5rem;
      padding: 0.5rem;
    }
  }
  .button {
    width: 35%;
  }
}
@media(width <= 560px){
  .menu{
    width: 10vw;
    justify-content: space-evenly;
    .menuIco{
      display: inline;
    }
  }
}