.bodyHome {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  display: flex;
  .Home {
    width: 95%;
    height: 100%;
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    gap: 2rem;
    .asideOn {
      display: none;
    }
    .none {
      display: none;
    }
    .aside {
      width: 20rem;
      background: #22185e;
      height: 100vh;
      padding: 2rem;
      transition: 2s;
      z-index: 100;
      nav {
        .item {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: #f1f1f1;
          font-size: 1rem;
        }
      }
    }
    .tabela {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 1rem;
    }
    .banner {
      display: flex;
      width: auto;
      position: absolute;
      top: 0;
      left: -5vw;
      animation: animateroad 25s linear infinite;
      @keyframes animateroad {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-50%, 0);
        }
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #17103f;
        color: #f5f5f5;
        font-size: 11px;
        font-weight: 700;
        width: 10rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
        cursor: pointer;
        border: 1px solid gray;
        border-left: none;
      }
    }

    .banner:hover {
      animation-play-state: paused;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      .button {
        display: flex;
        justify-content: center;
        width: 7.5rem;
        height: 3.5rem;
      }
    }
  }
}
@media (width <= 560px) {
  .bodyHome {
    .Home {
    justify-content: center;
      .aside {
        display: none;
      }
      .banner{
        top: 7.5vh;
      }
      .asideOn {
        display: flex;
        justify-content: space-between;
        z-index: 100;
        background: #0000006e;
        margin: 0;
        padding: 0 1.5vw 0 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 92.5vh;
        position: fixed;
        nav {
          background: #22185e;
          display: flex;
          flex-direction: column;
          width: 40%;
          padding-left: .5rem;
          
          color: #f1f1f1;
          font-size: 1rem;
        }
        span{
          margin: 0;
          color: #f5f5f5;
          font-size: 1.5rem;
          cursor: pointer;
        }
        animation: animate 0.3s linear;
        @keyframes animate {
          0% {
            transform: translate(-5vw, 0);
          }
          100% {
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}
