.bodyHome {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  display: flex;
  .Home {
    flex: 1;
    background: none;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    gap: 2rem;
    .tabela {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding-bottom: 1rem;
    }
    .banner {
      display: flex;
      width: auto;
      position: absolute;
      top: 0;
      left: -5vw;
      animation: animateroad 25s linear infinite;
      @keyframes animateroad {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-50%, 0);
        }
      }
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #17103f;
        color: #f5f5f5;
        font-size: 11px;
        font-weight: 700;
        width: 10rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
        cursor: pointer;
        border: 1px solid gray;
        border-left: none;
      }
    }

    .banner:hover {
      animation-play-state: paused;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
      .button {
        display: flex;
        justify-content: center;
        width: 7.5rem;
        height: 3.5rem;
      }
    }
  }
}
@media (width <= 560px) {
  .bodyHome {
    .Home {
      
    }
  }
}
