.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-button {
  color: #ffffff;
  background: #22185e !important;
  border: 1px solid #17103f !important;
}